In [13]:
import pandas as pd 
import numpy as np 
import configparser
import os

config = configparser.ConfigParser()
config.read("env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']
base_path = config['DEFAULT']['base_path']
code_dir = config['DEFAULT']['code_dir']


os.chdir(code_dir)
import preprocess
os.chdir(base_path)

In [14]:
book_dict = {}
all_TOKENS = pd.DataFrame()

all_dir_list = [f for f in os.listdir(data_home) if f.endswith('.txt')]
for book_id, book_file in enumerate(all_dir_list):
    print(f"{str(book_id+1).zfill(2)}] {book_file}")
    book_dict[book_id+1] = preprocess.create_tokendf(f"{data_home}/{all_dir_list[book_id]}")
    book_dict[book_id+1]['token_num'].index = pd.MultiIndex.from_tuples(
                                        [(book_id+1,) + idx for idx in book_dict[book_id+1]['token_num'].index],
                                        names=['book_id'] + book_dict[book_id+1]['token_num'].index.names)
    all_TOKENS = pd.concat([all_TOKENS, book_dict[book_id+1]['token_num']])

01] maha01.txt
02] maha02.txt
03] maha03.txt
04] maha04.txt
05] maha05.txt
06] maha06.txt
07] maha07.txt
08] maha08.txt
09] maha09.txt
10] maha10.txt
11] maha11.txt
12] maha12.txt
13] maha13.txt
14] maha14.txt
15] maha15.txt
16] maha16.txt
17] maha17.txt
18] maha18.txt

In [15]:
all_TOKENS.to_csv(f"{output_dir}/maha_TOKENS.csv")
all_TOKENS

                                             token_str term_str
book_id chap_num para_num sent_num token_num
1       1        0        0        0                Om       om
                          1        0            Having   having
                                   1             bowed    bowed
                                   2              down     down
                                   3                to       to
...                                                ...      ...
18      6        37       2        23           Vishnu   vishnu
                                   24             like     like
                                   25           Vishnu   vishnu
                                   26          himself  himself
                          3        0                 "

[2453793 rows x 2 columns]